@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined');




#topPanelBackground {
    -fx-background-color: #15191e;
}

/*Prihlásiť sa tlačítko*/
#openLogin {
    -fx-font-family: 'Roboto Condensed', sans-serif;
    -fx-background-color: #419ddf;
    -fx-text-fill: #15191e;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 7px 17px;

    -fx-background-radius: 5px;
    -fx-transition: -fx-scale-x 0.3s ease, -fx-scale-y 0.3s ease, -fx-background-color 0.3s ease; /* prechod efektu */
}



/*Jazyk SK*/
#btnSk {
    -fx-font-size: 24px;
    -fx-background-image: url("../../Views/CssImages/sk.png");  /* Vlajka ako pozadie */
    -fx-background-color: transparent;  /* Transparentné pozadie */
    -fx-background-size: contain;  /* Zabezpečí, že obrázok sa prispôsobí veľkosti tlačidla */
    -fx-background-repeat: no-repeat;  /* Zabráni opakovaniu obrázka */
    -fx-background-position: center center;  /* Nastaví obrázok do stredu tlačidla */
    -fx-border: none;  /* Bez orámovania */
    -fx-text-fill: transparent;  /* Skryje text, ak je zobrazený */
    -fx-padding: 10px;  /* Padding okolo obrázka */
}


/*Jazyk EN*/
#btnEn {
    -fx-font-size: 24px;
    -fx-background-image: url("../../Views/CssImages/en.png");  /* Vlajka ako pozadie */
    -fx-background-color: transparent;  /* Transparentné pozadie */
    -fx-background-size: contain;  /* Zabezpečí, že obrázok sa prispôsobí veľkosti tlačidla */
    -fx-background-repeat: no-repeat;  /* Zabráni opakovaniu obrázka */
    -fx-background-position: center center;  /* Nastaví obrázok do stredu tlačidla */
    -fx-border: none;  /* Bez orámovania */
    -fx-text-fill: transparent;  /* Skryje text, ak je zobrazený */
    -fx-padding: 10px;  /* Padding okolo obrázka */
}


/*informácie o podniku*/
#openInfoBtn {
    -fx-font-family: 'Material Symbols Outlined';
    -fx-font-size: 45px;
    -fx-text-fill: #419ddf;
    -fx-background-color: transparent;
    -fx-border: none;
}