@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined');



#mainPageBackground {
    -fx-background-image: url("file:/C:/Users/miso4/Desktop/mainPageBackground.png");
    -fx-background-size: cover;  /* Pozadie sa roztiahne na celú plochu */
    -fx-background-position: center center;  /* Pozícia obrázka na strede */
    -fx-background-repeat: no-repeat;  /* Zabráni opakovaniu obrázka */
}


/*Main Page*/
/*Objednávacie tlačitko*/
#order {
    -fx-font-family: 'Roboto Condensed', sans-serif;
    -fx-background-color: #ECA72C;
    -fx-text-fill: #221E22;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-transition: -fx-scale-x 0.3s ease, -fx-scale-y 0.3s ease, -fx-background-color 0.3s ease; /* prechod efektu */
}

#order:hover {
    -fx-scale-x: 1.1;  /* zväčší tlačidlo na šírku o 10% */
    -fx-scale-y: 1.1;  /* zväčší tlačidlo na výšku o 10% */
    -fx-background-color: #faa50f;  /* tmavšie modré pozadie pri hoveri */
}

/*Názov reštaurácie*/
#restaurantName {
    -fx-font-family: 'Roboto Condensed', sans-serif;
    -fx-text-fill: #e89809;  /* Farba textu */
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-padding: 20px 0px 0px 0px;


}

/*Rezervovať slôl tlačitko*/
#bookTablePopup {
    -fx-font-family: 'Roboto Condensed', sans-serif;
    -fx-background-color: #ECA72C;
    -fx-text-fill: #221E22;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 7px 17px;
    -fx-background-radius: 5px;
    -fx-transition: -fx-scale-x 0.3s ease, -fx-scale-y 0.3s ease, -fx-background-color 0.3s ease; /* prechod efektu */
}

#bookTablePopup:hover {
    -fx-scale-x: 1.1;  /* zväčší tlačidlo na šírku o 10% */
    -fx-scale-y: 1.1;  /* zväčší tlačidlo na výšku o 10% */
    -fx-background-color: #faa50f;  /* tmavšie modré pozadie pri hoveri */
}

/*Privolať obsluhu tlačitko*/
#goToCallService {
    -fx-font-family: 'Roboto Condensed', sans-serif;
    -fx-background-color: #221E22;
    -fx-text-fill: #ECA72C;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-padding: 7px 17px;
    -fx-background-radius: 5px;
    -fx-transition: -fx-scale-x 0.3s ease, -fx-scale-y 0.3s ease, -fx-background-color 0.3s ease; /* prechod efektu */
}

#goToCallService:hover {
    -fx-scale-x: 1.1;  /* zväčší tlačidlo na šírku o 10% */
    -fx-scale-y: 1.1;  /* zväčší tlačidlo na výšku o 10% */
    -fx-background-color: #2e2b2e;  /* tmavšie modré pozadie pri hoveri */
}

/*Prihlásiť sa tlačítko*/
#loginAndRegisterPopup {
    -fx-font-family: 'Roboto Condensed', sans-serif;
    -fx-background-color: #221E22;
    -fx-text-fill: #ECA72C;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-padding: 7px 17px;
    -fx-background-radius: 5px;
    -fx-transition: -fx-scale-x 0.3s ease, -fx-scale-y 0.3s ease, -fx-background-color 0.3s ease; /* prechod efektu */
}

#loginAndRegisterPopup:hover {
    -fx-scale-x: 1.1;  /* zväčší tlačidlo na šírku o 10% */
    -fx-scale-y: 1.1;  /* zväčší tlačidlo na výšku o 10% */
    -fx-background-color: #2e2b2e;  /* tmavšie modré pozadie pri hoveri */
}

/*Jazyk SK*/
#btnSk {
    -fx-font-size: 24px;
    -fx-background-image: url("file:/C:/Users/miso4/Desktop/sk.png");  /* Vlajka ako pozadie */
    -fx-background-color: transparent;  /* Transparentné pozadie */
    -fx-background-size: contain;  /* Zabezpečí, že obrázok sa prispôsobí veľkosti tlačidla */
    -fx-background-repeat: no-repeat;  /* Zabráni opakovaniu obrázka */
    -fx-background-position: center center;  /* Nastaví obrázok do stredu tlačidla */
    -fx-border: none;  /* Bez orámovania */
    -fx-text-fill: transparent;  /* Skryje text, ak je zobrazený */
    -fx-padding: 10px;  /* Padding okolo obrázka */
}

/*Jazyk EN*/
#btnEn {
    -fx-font-size: 24px;
    -fx-background-image: url("file:/C:/Users/miso4/Desktop/en.png");  /* Vlajka ako pozadie */
    -fx-background-color: transparent;  /* Transparentné pozadie */
    -fx-background-size: contain;  /* Zabezpečí, že obrázok sa prispôsobí veľkosti tlačidla */
    -fx-background-repeat: no-repeat;  /* Zabráni opakovaniu obrázka */
    -fx-background-position: center center;  /* Nastaví obrázok do stredu tlačidla */
    -fx-border: none;  /* Bez orámovania */
    -fx-text-fill: transparent;  /* Skryje text, ak je zobrazený */
    -fx-padding: 10px;  /* Padding okolo obrázka */
}

/*informácie o podniku*/
#openInfoPopup {
    -fx-font-family: 'Material Symbols Outlined';
    -fx-font-size: 35px;
    -fx-text-fill: #221E22;
    -fx-background-color: transparent;
    -fx-border: none;
}





